@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    span#burger {
        display: none;
    }

    header {
        display: flex;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.507);
        padding: 8px;
    }

    header > h1 {
        font-size: 1.5em;
    }

    nav {
        width: 150px;
        position: relative;
        margin-top: 0;
        background-color: #212624;
    }

    nav > ul {
        display: flex;
        transition: 0.5s;
    }

    nav > ul > li.closebtn {
        display: none;
    }

    nav > ul > li {
        margin-right: 8px;
        background-color: #212624;
    }

    nav > ul > li > a {
        font-size: 0.8em;
    }

    nav > ul > li > a:hover {
        background-color: #212624;
        font-weight: normal;
        color: #F22F08;
        transition: 0.5s;
    }

    section {
        flex-direction: row;
    }
    
    div.container {
        width: 230px;
        height: 230px;
    }

    article > h1 {
        font-size: 0.8em;
        padding-left: 2.8ch;
    }
    
    article > h2 {
        font-size: 2em;
    }
    
    article > div > p {
        font-size: 0.9em;
    }

    aside img {
        width: 25px;
        height: 25px;
        margin: 0px 4px;
    }

    footer {
        font-size: 0.6em;
    }
}

@media screen and (min-width: 992px) {
    span#burger {
        display: none;
    }

    header {
        display: flex;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.507);
    }

    header > h1 {
        font-size: 1.8em;
    }

    nav {
        width: 150px;
        position: relative;
        margin-top: 0;
        background-color: #212624;
        border-radius: 0;
    }

    nav > ul {
        display: flex;
        transition: 0.5s;
    }

    nav > ul > li.closebtn {
        display: none;
    }

    nav > ul > li {
        margin-right: 8px;
        background-color: #212624;
    }

    nav > ul > li > a {
        font-size: 0.9em;
    }

    nav > ul > li > a:hover {
        background-color: #212624;
        font-weight: normal;
        color: #F22F08;
        transition: 0.5s;
    }

    section {
        flex-direction: row;
    }
    
    div.container {
        width: 380px;
        height: 380px;
    }

    article {
        margin-left: 10px;
    }

    article > h1 {
        font-size: 1.5em;
        padding-left: 2.5ch;
    }
    
    article > h2 {
        font-size: 3.8em;
    }
    
    article > div > p {
        font-size: 1.4em;
    }

    aside img {
        width: 36px;
        height: 36px;
        margin: 0px 4px;
    }

    footer {
        font-size: 0.8em;
    }
}